<tr id="<%= dom_id order %>">
  <td class="border border-gray-2000 text-left px-3 my-5">
    <strong >Name:</strong>
    <%= order.name %>
  </td>
  <td class="border border-gray-2000 text-left px-3 my-5">
    <strong >Address:</strong>
    <%= order.address %>
  </td>
  <td class="border border-gray-2000 text-left px-3 my-5">
    <strong >Email:</strong>
    <%= order.email %>
  </td>
  <td class="border border-gray-2000 text-left px-3 my-5">
    <strong >Pay type:</strong>
    <%= order.pay_type %>
  </td>
  <td class = "flex justify-center">
    <%= link_to "Show this order", order, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"  %>
  </td>
</tr>
